<div class="overflow-scroll w-full h-full">
    <table class="border-collapse">
      <thead class="sticky z-10">
        <tr>
          <th>Fruits</th>
          <th>Nuts</th>
          <th>Vegetables</th>
          <th>Meats</th>
          <th>Meats</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="h-[120vh] bg-stripes relative">
            <span class="absolute w-full top-[33%]">foo</span>
          </td>
          <td>Peanut</td>
          <td>Carrot</td>
          <td>Chicken</td>
          <td>Chicken</td>
        </tr>
      </tbody>
    </table>
  </div>